<div class="flex-grow flex flex-col overflow-auto">
	<app-header></app-header>
	<div class="flex-grow flex flex-col overflow-auto">
		<input
			type="text"
			#searchInput
			(input)="onInput($event)"
			placeholder="Search by keyword..."
		/>
		<h2>favoriteRepos:</h2>
		<div
			*ngFor="
				let favoriteRepo of reposService.favoriteExtendedRepos$ | async
			"
		>
			<span>{{ favoriteRepo | json }}</span>
			<button (click)="reposService.setUnfavorite(favoriteRepo)">
				Remove from favorites
			</button>
		</div>
		<h2>filteredRepos:</h2>
		<div
			*ngFor="
				let filteredRepo of reposService.filteredExtendedRepos$ | async
			"
		>
			<span>{{ filteredRepo | json }}</span>
			<button
				*ngIf="!filteredRepo.isFavorite"
				(click)="reposService.setFavorite(filteredRepo)"
			>
				Add to favorites
			</button>
			<button
				*ngIf="filteredRepo.isFavorite"
				(click)="reposService.setUnfavorite(filteredRepo)"
			>
				Remove from favorites
			</button>
		</div>
	</div>
</div>
